<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="bg-neutral-200 grid grid-cols-4 h-full min-h-screen">
      <section class="section-sidebar"></section>
      <section class="section-main">
        <h1 class="text-4xl px-8">Evaluate</h1>
        <div class="px-8 mt-8">
          <form class="py-2.5 w-full">
            <div>
              <label for="problemSolving" class="label-fw"
                >Problem Solving:</label
              >

              <div class="flex justify-between">
                <div class="radio-button">
                  <input type="radio" id="one" name="points" value="1" />
                  <label for="one">1</label>
                </div>

                <div class="radio-button">
                  <input type="radio" id="two" name="points" value="2" />
                  <label for="two">2</label>
                </div>

                <div class="radio-button">
                  <input type="radio" id="three" name="points" value="3" />
                  <label for="three">3</label>
                </div>

                <div class="radio-button">
                  <input type="radio" id="four" name="points" value="4" />
                  <label for="four">4</label>
                </div>
              </div>
            </div>

            <div class="mt-4">
              <label for="finalProduct" class="label-fw">Final Product:</label>

              <div class="flex justify-between">
                <div class="radio-button">
                  <input type="radio" id="one" name="points" value="1" />
                  <label for="one">1</label>
                </div>

                <div class="radio-button">
                  <input type="radio" id="two" name="points" value="2" />
                  <label for="two">2</label>
                </div>

                <div class="radio-button">
                  <input type="radio" id="three" name="points" value="3" />
                  <label for="three">3</label>
                </div>

                <div class="radio-button">
                  <input type="radio" id="four" name="points" value="4" />
                  <label for="four">4</label>
                </div>
              </div>
            </div>

            <div class="mt-4">
              <label for="codeQuality" class="label-fw">Code Quality:</label>

              <div class="flex justify-between">
                <div class="radio-button">
                  <input type="radio" id="one" name="points" value="1" />
                  <label for="one">1</label>
                </div>

                <div class="radio-button">
                  <input type="radio" id="two" name="points" value="2" />
                  <label for="two">2</label>
                </div>

                <div class="radio-button">
                  <input type="radio" id="three" name="points" value="3" />
                  <label for="three">3</label>
                </div>

                <div class="radio-button">
                  <input type="radio" id="four" name="points" value="4" />
                  <label for="four">4</label>
                </div>
              </div>
            </div>

            <div class="mt-4">
              <label for="remarks" class="label-fw">Remarks:</label>
              <input type="text" id="remarks" class="input" />
            </div>
            <button class="py-2 px-8 mt-8">Evaluate</button>
          </form>
        </div>
      </section>
    </div>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    <script src="./main.ts" type="module"></script>
  </body>
</html>
