<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assign-Ease</title>
  </head>
  <body>
    <div class="bg-neutral-200 grid grid-cols-4 h-full min-h-screen">
      <section class="section-sidebar"></section>
      <section class="section-main">
        <h1 class="text-4xl px-8">Assignments</h1>

        <div id="assignment-card" class="flex"></div>
      </section>
    </div>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="./main.ts" type="module"></script>
  </body>
</html>
