<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="flex gap-1">
      <section class="section-sidebar w-1/5 bg-white"></section>
      <section class="section-main w-4/5 bg-white">
        <h1 class="text-4xl px-8">Dashboard</h1>
        <button class="bg-neutral-300 text-black hover:bg-neutral-500 mr-8">
          Add Assignment
        </button>
        <div id="assignment-card" class="flex"></div>
      </section>
    </div>
    <script src="./main.ts" type="module"></script>
  </body>
</html>
