<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="bg-neutral-200 grid grid-cols-4 h-full min-h-screen">
      <section class="section-sidebar"></section>
      <section class="section-main">
        <h1 class="text-4xl">Submit Assignment</h1>
        <div class="px-8 mt-8">
          <div class="flex flex-col gap-4">
            <div class="flex">
              <h3>Assignment title</h3>
              <span class="ml-auto border border-black p-2 rounded-full"
                >Status</span
              >
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Assumenda quidem nulla nam eaque odit accusantium eos. Aut error
              harum ab pariatur, aperiam fuga, placeat in laudantium, dolor
              atque nostrum! Eum. Voluptatibus at nisi officiis velit numquam
              similique. Accusantium, libero tempora et earum odio voluptatem?
              Libero consequuntur, placeat dolor veritatis a saepe
              exercitationem, suscipit id atque sed praesentium pariatur
              consequatur ipsam!
            </p>
            <span>Deadline: 2021-02-13</span>
          </div>
          <form class="py-2.5 w-full mt-8">
            <div>
              <label for="url" class="label-fw">Assignment URL:</label>
              <input
                type="text"
                id="url"
                class="input"
                placeholder="https://localhost:3000"
              />
            </div>

            <button class="py-2 px-8 mt-8">Submit</button>
          </form>
        </div>
      </section>
    </div>

    <script src="./main.ts" type="module"></script>
  </body>
</html>
